langflow-ide:
  nameOverride: langflow
  ingress:
    enabled: true
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: langflow.sandbox.nebed.io
  langflow:
    backend:
      replicaCount: 1
      resources:
        requests:
          cpu: 0.2
          memory: 500Mi
    sqlite:
      enabled: true
      volume:
        size: "1Gi"
        existingStorageClassName: "standard"