apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.langflow-ide.langflow.backend.persistentVolume.claimName | quote }}
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ .Values.langflow-ide.langflow.backend.persistentVolume.size | quote }}
  storageClassName: {{ .Values.langflow-ide.langflow.backend.persistentVolume.existingStorageClassName | quote }}